@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.icon-section {
	margin: 0 0 3em;
	clear: both;
	overflow: hidden;
}
.icon-container {
	width: 240px;
	padding: .7em 0;
	float: left;
	position: relative;
	text-align: left;
}
.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
	color: #000;
	position: absolute;
	margin-top: 3px;
	transition: .3s;
}
.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
	font-size: 2.2em;
	margin-top: -5px;
}
.icon-container:hover .icon-name {
	color: #000;
}
.icon-name {
	color: #aaa;
	font-size: .8em;
	transition: .3s;
}
.icon-container:hover .icon-name {
	margin-left: 45px;
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}


/* list skill */
.listSkill{
  display: flex;
  flex-wrap: wrap;
  
}
.listSkill li{
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.circle{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 113, 104,0.4);
}
.circle::after{
  content: "";
  display: block;
  background-color: #31708f;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}
.p90,.p180,.p270,.p360{
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #FF7168;
}
.p180{
  top: 50%;
}
.p270{
  left: 0;
  top: 50%;
}
.p360{
  left: 0;
  top: 0;
}

/* list program */
.listProgram .bar{
  width: 150px;
  height: 10px;
  border: solid 2px #FF7168;
  border-radius: 5px
}

.listProgram .bar2{
  width: 150px;
  height: 10px;
}

.listProgram li{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}
.value{
  height: 100%;
  width: 60%;
  background-color: #FF7168;
}
.value.p10{
  width: 10%;
}
  
.value.p20{
  width: 20%;
}
.value.p30{
  width: 30%;
}
.value.p40{
  width: 40%;
}
.value.p50{
  width: 50%;
}
.value.p60{
  width: 60%;
}
.value.p70{
  width: 70%;
}
.value.p80{
  width: 80%;
}
.value.p90{
  width: 90%;
}
.value.p100{
  width: 100%;
}

/* profile */
.parentWrap{
    overflow: hidden;
}
.parent{
    overflow: hidden;
    margin-left: 10px;
	margin-right: 10px;
}
.child{
    float: left;
    width: 24%;
}




